.container {
  padding: 8px;

  /*border: 1px red dashed;*/
}

.text {
  display: flex;
  justify-content: center;
  padding: 8px;
  font-weight: bolder;
  color: red;
}

.btn {
  background: #9090c6;
}
